* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --border-radius: 15px;
}

html {
  font-size: 1em;
  font-family: "Red Hat Display", sans-serif;
}

body {
  display: grid;
  height: 100vh;
  place-content: center;
  background: url("../src/images/pattern-background-desktop.svg") no-repeat;
  background-size: contain;
  background-color: var(--pale-blue);
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  body {
    background: url("../src/images/pattern-background-mobile.svg") no-repeat;
    background-size: contain;
  }
}
